#container
  cnt()
  w 962px
  bg #fff
  bt 1px solid hsl(hue1,45,30)
  bs 1px solid #dbdbdb
  bb 1px solid #d2d2d2
  box-shadow b30 0 1px 3px
  border-radius 5px
  mb x*3
  relative()
  img.icon
    d block
    absolute top -4em left 1em
    z 100
    w 100px

  a.cta-button
    d block
    fl()
    ta center
    border-radius 3px
    fw bold
    lh x*3
    tt uppercase
    c hsl(lhue,20,30)
    text-shadow #fff 0 1px 0
    cursor pointer
    box-shadow inset #fff 0 1px 0
    button-bg()
    &:hover
      button-bg-hover()
    &:active
      button-bg-active()
      box-shadow inset b35 0 0 .5em
    
  .section
    clearfix()
    p 3em 0
    bb 1px solid hsl(lhue,25,85)
    section-bg()

    .header
      mb x*3
      p 0 cw
      h2
        f 2em/1.5 sans
        c hsl(hue1,25,40)
        ta center
        strong
          fw bold

    .content
      p 0 cw

    &.intro
      border-radius 3px 3px 0 0
      p 0
      intro-bg()
      c #fff
      aa()
      relative()
      .header
        pt 4.5em
        h1
          f 2.6em sans
          lh x*3
          ls -2px
          mb x*3
          c hsl(hue1,25,80)
          text-shadow b50 0 1px 2px
          col 7
      .content
        p 0
        clearfix()
        c hsl(hue1,25,70)
        text-shadow b30 0 1px 0

        p.intro
          f 1.5em sans
          lh x*2
          col 7
          pl cw
          mb x*4.5

        a#app-preview
          d block
          img
            absolute top 29px right 0
            d block
      .footer
        clearfix()
        bg b20
        box-shadow inset b15 0 1px 2px
        p 1.5em cw

        a.cta-button
          w cw*2
          fl()
          mr 1.5em

    &.awards
      bg #fff
      ul
        d block
        m 0 -2em
        li
          fl()
          p 0 1.6em
          img
            max-height 60px
          &.cnet img
            max-height 80px
            mt -10px


    &.support
      ul.os
        clearfix()
        col 5
        mb 1.5em
        li
          fl()
          mr 2em
          img
            h 70px
            w auto
          &.bsd
            mr 0
      p.legacy
        col 5
        p 1em
        border-radius 5px
        bg hsl(lhue,50,95)

    &.benefits
      .content
        p 0 cw - x
        ul
          clearfix()
          li
            mb 3em
            fl()
            w 50%
            p 0 1em
            box-sizing border-box
            h3
              s 115%
              fw bold
              aa()
              lh x*3
              c #000
            p
              c #666
              pr 3em


    &.comparison
      .content
        p 0 cw - x

        ul
          clearfix()
          li.solution
            fl()
            w 32%
            p 0 1em
            box-sizing border-box

            .data
              w 100%
              b 1px solid hsl(lhue,25,85)
              p 0 0 1.5em
              border-radius 5px
              h3
                fw bold
                lh x*3
                p 0 1.5em
                text-shadow w50 0 1px 0
                border-radius 4px 4px 0 0
                bt 1px solid hsl(lhue,30,95)
                bb 1px solid hsl(lhue,30,75)
                data-bg()
                relative()
                c hsl(lhue,45,30)
                aa()
                span.price
                  color hsl(lhue,45,50)
                  absolute top 0 right 1.5em

              ul.features
                h 180px
                mb 1.5em
                li
                  bb 1px dotted #ddd
                  p .5em 1.5em

              a.cta-button
                float none
                w cw*2
                m 0 auto
                b 1px solid hsl(lhue,25,85)

            &.commercial
              w 36%
              relative()
              mt -3px
              .data
                b 3px solid  hsl(lhue,25,60)
                box-shadow hsl(lhue,25,80) 0 0 1em
                a.cta-button
                  commercial-cta-bg()
                  bt none
                  c hsl(hue1,25,93)
                  aa()
                  text-shadow b30 0 1px 0
                  &:hover
                    commercial-cta-hover()
                    c #fff
                
                
    &.downloads
      bb none
      pb 0
