.header.site
  bb 1px solid w7
  header-site-bg()
  box-shadow b75 0 0 10em
  mb 2em
  .nav
    cnt()
    bx 1px solid w7
    ul
      clearfix()
      li
        col 2
        br 1px solid b40
        &.branding
          col 4
          bl 1px solid b40
          a
            ta left
        a
          d block
          lh 3em
          p 0 1em
          fw bold
          c txt
          text-shadow #000 0 1px 0, b25 0 0 1em
          bx 1px solid w7
          c #ddd
          aa()
          ta center
          &:hover
            c #fff
            header-site-a-hover()
          &:active
            header-site-a-active()
            c #888
            text-shadow w10 0 -1px 0
            box-shadow inset b50 0 0 .5em
