header.subheader
  nav
    cnt()
    aa()
    .product
      col 4
      a
        d block
        f bold 1.25em sans
        lh x*3
        p 0 x
        c #ccc
        text-shadow #000 0 1px 0
    ul
      col 8
      clearfix()
      li
        fr()
        a
          d block
          p 0 1em
          lh x*3
          c hsl(hue1,75,75)
          text-shadow #000 0 1px 0
