header.subheader
  nav
    cnt()
    aa()
    .product
      col 4
      a
        d block
        relative()
        f bold 1.25em sans
        lh x*3
        p 0 x*.3
        c #ddd
        text-shadow b75 0 1px 0
        img
          absolute top 9px left .5em
          d block
          z 100
          w 24px
        .name
          pl 24px + x*.9
        
    ul
      col 8
      clearfix()
      li
        fr()
        ml 1.8em
        a
          d block
          p 0 .3em
          lh x*3
          c hsl(hue1,70,70)
          text-shadow b75 0 1px 0
