header-site-bg()
  background hsl(hue1,21,17) url(../i/svg/header-site-bg.svg)
  background linear-gradient(top, hsl(hue1,21,21), hsl(hue1,21,19) 50%, hsl(hue1,21,16), hsl(hue1,21,21))

header-site-a-hover()
  background hsl(hue1,21,23) url(../i/svg/header-site-a-hover.svg)
  background linear-gradient(top, hsl(hue1,21,21 + 7), hsl(hue1,21,19 + 7) 50%, hsl(hue1,21,16 + 7), hsl(hue1,21,21 + 7))

header-site-a-active()
  background m23 url(../i/svg/header-site-a-active.svg)
  background linear-gradient(top, m15, m30)

button-bg()
  background m240 url(../i/svg/button-bg.svg)
  background linear-gradient(top, m250, m230)

button-bg-hover()
  background m220 url(../i/svg/button-bg-hover.svg)
  background linear-gradient(top, m240, m200)

button-bg-active()
  background m200 url(../i/svg/button-bg-active.svg)
  background linear-gradient(top, m220, m180)

intro-bg()
  background hsl(hue1,57,30) url(../i/svg/intro-bg.svg)
  background linear-gradient(top, hsl(hue1,55,23), hsl(hue1,60,37))

section-bg()
  background #fff url(../i/svg/section-bg.svg)
  background linear-gradient(top, hsla(lhue,25,60,.1), hsla(lhue,0,100,.1) 75px)

data-bg()
  background hsl(lhue,35,85) url(../i/svg/data-bg.svg)
  background linear-gradient(top, hsl(lhue,35,90), hsl(lhue,35,80))

commercial-cta-bg()
  background hsl(hue1,57,30) url(../i/svg/commercial-cta-bg.svg)
  background linear-gradient(top, hsl(hue1,60,37), hsl(hue1,55,23))
